@media screen and (max-width:450px) {

    .myPost {
        margin-bottom: 60px;
        overflow-x: hidden;
    }

    .myPostNews .leftDiv{
        width: 100%;
        height: fit-content;
    }

    .myPostNews .imgSec {
        display: none;
    }
    
    .sharedPost{
        /* max-height: 40px !important; */
        margin-bottom: 20px;
    }

    .sharedProfile{
        padding-bottom: 10px;
        border-bottom: 1px solid #e7acac;
        margin-bottom: 10px;
    }

    .sharedLink>p{
        color: #c7d8e7;
    }

    .sharedLink>p>strong{
        color: #000;
        font-weight: 500;
    }

}