.news {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width:450px) {

    .logoDiv>.headDiv>h1 {
        background-color: #092130;
        color: white;
        text-align: center;
        padding: 20px 0;
        font-size: 40px !important;
    }

    .filterDiv{
        display: flex;
    }

    .home {
        min-height: 100vh;
        margin-bottom: 60px;

    }

    .news {
        display: flex;
        flex-wrap: wrap;
        background: #edf0f2;
        padding-bottom: 30px;
    }

    .navbarSecHome {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: #092130;
        height: fit-content;
    }

}