.home {
    overflow-x: hidden;
}

.news {
    display: flex;
    flex-wrap: wrap;
}

.navbarSecHome {
    display: none;
}

.logoDiv {
    display: none;
}

.contanier{
    padding: 10px 50px;
}



@media screen and (max-width:450px) {

    .contanier{
        padding: 0;
    }


    .logoDiv {
        display: block;
    }

    .navbarSecHome {
        display: block;
    }

    .logoDiv>.headDiv>h1 {
        background-color: #092130;
        color: white;
        text-align: center;
        padding: 20px 0;
        font-size: 40px !important;
    }

    .home {
        min-height: 100vh;
        margin-bottom: 60px;
        overflow-x: hidden;
    }

    .news {
        display: flex;
        flex-wrap: wrap;
        background: #edf0f2;
        padding-bottom: 30px;
    }

    .navbarSecHome {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: #092130;
        height: fit-content;
    }

}