@media screen and (max-width:450px) {

    .headDiv {
        margin-top: 50px;
    }

    .headDiv>h1 {
        font-size: 50px;
        font-family: 'Oswald', sans-serif;
        font-weight: 900;
        letter-spacing: 10px;
    }

}