.anatyticsPageSec{
    margin-bottom: 60px;
}

.upperSectioinn {
    width: 80%;
    margin: 20px auto;
    display: flex;

}

.chartDiv {
    background-color: #f5f8fa;
    padding: 20px 10px;
    border-radius: 10px;
    width: 70%;
}

.summerySec {
    background-color: #edf0f2;
    display: flex;
    border-radius: 10px;
    margin-left: 10px;
    flex-wrap: wrap;
    height: 50%;
    width: 30%;
}

.anaContentDiv {
    background: #fff;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 90px;
    border-radius: 10px;
}

.upperText {
    font-weight: 500;
    font-size: 18px;

}

.lowerText {
    font-size: 12px;
    font-weight: 400;
}

.anaContentDivActive {
    background-color: #edf0f2;
}

.bottomDiv{
    width: 80%;
    margin: 10px auto;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.post {
    max-width: 23vw;
    background-color: #f5f8fa;
    border-radius: 10px;
}

.postHead {
    margin: 20px 10px;
    background-color: #fff;
}

.post>.detailedTitleDiv {
    background-image: url('../../Images/download\ \(1\).jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.post>.desTitleDiv>h4 {
    /* font-family: 'Oswald', sans-serif; */
    font-weight: 500;
    /* color: white; */
    /* position: relative; */
    /* text-align: center; */
    margin: 20px;
    /* top: 40vh; */
    font-size: 20px;
}

.post>.datetimeSec {
    display: flex;
    justify-content: space-between;
    margin: 5px 8px;
    color: #dcdfe1;
    border-bottom: 1px solid #dcdfe1;
    padding: 5px 0;
}

.sourceDiv {
    font-size: 12px;
    margin: 5px 12px;
    font-weight: 900;
    color: #8bbb34;
}

.post>.likeDislikeDiv {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 10px;
    color: #d7dadb;
    border-top: 1px solid #dcdfe1;
    margin: 0 10px;
}

.post>.likeDislikeDiv>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post>.likeDislikeDiv>div:hover {
    cursor: pointer;
    color: #99cc33;
}

.post>.likeDislikeDiv>div>p {
    margin: 0 0 0 15px;
    font-size: 15px;
    font-weight: 500;
}