
@media screen and (max-width:450px) {

    .authSec {
        /* height: 100vh; */
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #092130;
        color: white;
    }

}
