.toggle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.MuiToggleButtonGroup-root{
    width: 90%;
    border: 2px solid #99cb34;
    padding: 0 !important;
}


.MuiToggleButtonGroup-root>button{
    width:60%  !important;
    color: #99cb34;
    background-color: #edf0f2;
    font-weight: 700 !important;
    font-size: 15px;
    padding: 5px;
    border: none;
    margin: 0 !important;
}

.css-d9c359-MuiButtonBase-root-MuiToggleButton-root.Mui-selected {
    color: #ffff !important;
    background-color: #99cb34 !important;
}